header,
nav,
aside,
article,
footer,
main {
  width: 400px;
  height: 100px;
}

header {
  width: 500px;
}

header {
  background: #000;
}

nav {
  background: #fcf;
}

aside {
  background: #fcc;
}

article {
  background: #ccf;
}

footer {
  background: #4cf;
}

main {
  background: #6c5;
}